@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body{
  background: #dbedff;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #addbff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover, .up:hover, .down:hover{
    background-color: #98bfe6;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: #98bfe6;
    display: none;
    overflow: hidden;
  }

  ul {
    list-style-type: none;
}

.down {
  cursor: pointer;
  width: 7.5%;
  height: 7.5%;
  text-align: center;
  background-color:#eee;
  float: right;
  

} 

.up {
  cursor: pointer;
  width: 7.5%;
  height: 7.5%;
  text-align: center;
  background-color:#eee;
  float: right;
}

