<!doctype html>
<html lang="en"
{% load static %}>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WEBSTORY 8</title>
  <link rel="stylesheet" href="{%static 'styles.css'%}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion({
        active: true,
        collapsible: true,
    });
  } );
  </script>
  
</head>

    <body>
        <br><h1><center>Johanes Steven</center></h1>
        <h3><center>Little facts about me.</center></h3>
        <br><br>
    <div id="accordion">
    <h3>Current Activities</h3>
    <div>
        <p>
        Currently a student at the International Program of Universitas Indonesia, majoring in Computer Science.</p>
        <p>Also currently under lockdown.</p>
    </div>
    <h3>Organizational Experience</h3>
    <div>
        <ul>
        <li> Part of Yamaha Smile Music Team that competed in Yamaha National Music Festival 2014 </li>
        <li> XIA6 Drama Team - Cast Member</li>
        <li> XIIA6 Drama Team - Cast Member</li>
        </ul>
    </div>
    <h3>Commitee Experience</h3>
    <div>
        <ul>
        <li> XIA6 Drama Team - Props Committee Member</li>
        <li> XIIA6 Drama Team - Props Committee Member</li>
        </ul>
    </div>
    <h3>Achievements</h3>
    <div>
        <ul>
            <li>3rd Place at Yamaha National Music Festival 2014</li>
            <li>5th Place at Sempoa SIP Competition</li>
        </ul>
    </div>
    </div>
    </body>
</html>
